<form [formGroup]="myForm">
  <div class="formGroup col-md-6">
    <label>Title</label>
    <input class ="form-control" formControlName="title" type="text" placeholder="Title">
  </div>
  <div class="formGroup col-md-6">
    <label>Description</label>
    <input class ="form-control" formControlName="description" type="text" placeholder="Description">
  </div>
  <div class="formGroup col-md-6">
    <div class="form-row">
      <div class="form-group col-md-4">
        <label>Priority</label>
        <select class ="form-control" formControlName="priority" type="text" placeholder="Select">
          <!--<option selected>Choose...</option>-->
          <option [ngValue]="1">Minor</option>
          <option [ngValue]="2">Major</option>
          <option [ngValue]="3">Critical</option>
        </select>
      </div>
      <div class="form-group col-md-4">
        <label>Reporter</label>
        <select class ="form-control" formControlName="reporter" type="text" placeholder="Select">
          <option [ngValue]="'QA'">QA</option>
          <option [ngValue]="'PO'">PO</option>
          <option [ngValue]="'DEV'">DEV</option>
        </select>
      </div>
      <div class="form-group col-md-4">
        <label>Status</label>
        <select class ="form-control" formControlName="status" type="text" placeholder="Select">
          <option [ngValue]="'Ready for Test'">Ready for Test</option>
          <option [ngValue]="'Done'">Done</option>
          <option [ngValue]="'Rejected'">Rejected</option>
        </select>
      </div>
    </div>
    <div class="container" *ngIf ="bugId">
      <label>Comments</label>
      <div *ngFor="let commentFormGroup of commentsFormArray.controls">
        <div [formGroup]="commentFormGroup">
          <div class="formGroup col-md-6">
            <label>Reporter</label>
            <input class ="form-control" formControlName="reporter" type="text" placeholder="Reporter">
          </div>
          <div class="formGroup col-md-6">
            <label>Description</label>
            <input class ="form-control" formControlName="description" type="text" placeholder="Description">
          </div>
        </div>
      </div>
      <button type="submit" class="btn btn-outline-secondary btn-sm" (click)="createCommentFields('','')">Add Comments</button>
    </div>
    <br>
    <button type="submit" class="btn btn-primary" (click)="onClickSaveBug()">Save</button>
  </div>
</form>