<form [formGroup]="myForm">
  <div>
    <label>Title</label>
    <input formControlName="title" type="text">
  </div>
  <div>
    <label>Description</label>
    <input formControlName="description" type="text">
  </div>
  <div>
    <label>Priority</label>
    <select formControlName="priority">
      <option [ngValue]="1">Minor</option>
      <option [ngValue]="2">Major</option>
      <option [ngValue]="3">Critical</option>
    </select>
  </div>
  <div>
    <label>Reporter</label>
    <select formControlName="reporter">
      <option [ngValue]="'QA'">QA</option>
      <option [ngValue]="'PO'">PO</option>
      <option [ngValue]="'DEV'">DEV</option>
    </select>
  </div>
  <div>
    <label>Status</label>
    <select formControlName="status">
      <option [ngValue]="'Ready for Test'">Ready for Test</option>
      <option [ngValue]="'Done'">Done</option>
      <option [ngValue]="'Rejected'">Rejected</option>
    </select>
  </div>

  <button (click)="onClickSaveBug()">Save</button>
</form>