<button type="button" class="btn btn-primary" (click)="createNewClicked()">Create new</button>

<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Title <atos-sorting (clickedEvent)="clickedEvent($event)" [property]="'title'"></atos-sorting></th>
            <th scope="col">Priority <atos-sorting (clickedEvent)="clickedEvent($event)" [property]="'priority'"></atos-sorting></th>
            <th scope="col">Reporter <atos-sorting (clickedEvent)="clickedEvent($event)" [property]="'reporter'"></atos-sorting></th>
            <th scope="col">Date Created <atos-sorting (clickedEvent)="clickedEvent($event)" [property]="'createdAt'"></atos-sorting></th>
            <th scope="col">Status <atos-sorting (clickedEvent)="clickedEvent($event)" [property]="'status'"></atos-sorting></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let bug of bugs;">
            <td>{{bug.title}}</td>
            <td>{{bug.priority}}</td>
            <td>{{bug.reporter}}</td>
            <td>{{bug.createdAt | date:"yyyy-mm-dd hh:mm"}}</td>
            <td>{{bug.status}}</td>
            <td><button (click) = "onClickEdit(bug.id)">Edit</button></td>
        </tr>
    </tbody>
</table>