<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Title</th>
      <th scope="col">Priority</th>
      <th scope="col">Reporter</th>
      <th scope="col">Created At</th>
      <th scope="col">Status</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let bug of bugs">
      <td>{{ bug.title }}</td>
      <td>{{ bug.priority }}</td>
      <td>{{ bug.reporter }}</td>
      <td>{{ bug.createdAt | date:'short'}}</td>
      <td>{{ bug.status }}</td>
    </tr>
  </tbody>
</table>
